<nav class="bg-zinc-800">
    <script src="https://cdn.tailwindcss.com"></script>
    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
        <div class="relative flex h-16 items-center justify-between">
            <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
                <div class="flex flex-shrink-0 items-center">
                    {{!-- imagen/logo --}}
                    <img class="h-12 w-auto"
                        src="https://drive.google.com/thumbnail?id=1OTGFO_d5VG_cVs4LlrPp2wjoM77mgRdc"
                        alt="Buena Oferta">
                </div>
                {{!-- menu de telefono --}}
                <div class="hidden sm:ml-6 sm:block">
                    <div class="flex space-x-4">
                        <a href="{{url}}/menu" class="rounded-md bg-zinc-700 px-3 py-2 text-sm font-medium text-amber-500"
                            aria-current="page">Inicio</a>
                        <a href="{{url}}/agregarProducto"
                            class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-zinc-700 hover:text-amber-500">Productos</a>
                        <a href="{{url}}/agregarComercio"
                            class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-zinc-700 hover:text-amber-500">Comercios</a>
                        <a href="{{url}}/sobreNosotros"
                            class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-zinc-700 hover:text-amber-500">Sobre
                            nosotros</a>
                    </div>
                </div>
            </div>
            <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
                <!-- Profile dropdown -->
                <div class="relative ml-3">
                    <div>
                        {{!-- icono de usuario --}}
                        <a href="/perfil"
                            class="relative flex rounded-full bg-gray-800 text-sm focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800">
                            <span class="sr-only">Open user menu</span>
                            <img class="h-8 w-8 rounded-full"
                                src="https://cdn.icon-icons.com/icons2/827/PNG/512/user_icon-icons.com_66546.png"
                                alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Comienza para telefono -->
    <div class="sm:hidden" id="mobile-menu">
        <div class="space-y-1 px-2 pb-3 pt-2">
            <a href="#" class="block rounded-md b-gray-900 px-3 py-2 text-base font-medium text-white"
                aria-current="page">Inicioo</a>
            <a href="#"
                class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Productos</a>
            <a href="#"
                class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Comercios</a>
            <a href="#"
                class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Sobre
                nosotros</a>
        </div>
    </div>
</nav>