<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
</head>
<body>
  {{> navbar}} <!-- Incluir el partial de navbar aquí -->
  
  {{{body}}} <!-- Este es el espacio para el contenido de cada vista -->
   {{> footer}}
</body>
</html>