<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sobre Nosotros</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
  {{> navbar}}
      <div class="bg-white py-24 sm:py-32">
        <div class="mx-auto flex px-9">
          <div class="max-w-2xl">
            <h2 class="text-5xl font-bold tracking-tight text-amber-500 sm:text-4xl">Sobre nosotros</h2>
            <p class="mt-6 text-lg leading-8 text-gray-900">Nuestro equipo está compuesto por grandes desarrolladores que buscan potenciar sus habilidades a traves de nuevos desafios y experiencias. </p>
          </div>
          <div class="flex gap-4 flex-wrap w-full">
<div class="flex items-center gap-4">
                <img class="h-16 w-16 rounded-full" src="/mariDev.png" alt="Maria Rojas">
                <div >
                  <h3 class="text-base font-semibold leading-7 tracking-tight text-black">Mari Rojas</h3>
                  <p class="text-sm font-semibold leading-6 text-yellow-500">Front End Developer</p>
                </div>
              </div>
              <div class="flex items-center gap-4">
                <img class="h-16 w-16 rounded-full" src="/mariDev.png" alt="Maria Rojas">
                <div >
                  <h3 class="text-base font-semibold leading-7 tracking-tight text-black">Sofia Ruiz</h3>
                  <p class="text-sm font-semibold leading-6 text-yellow-500">Full Stack Developer</p>
                </div>
              </div>
              <div class="flex items-center gap-4">
                <img class="h-16 w-16 rounded-full" src="https://robohash.org/{sebastianOribe}?set=set2" alt="Maria Rojas">
                <div >
                  <h3 class="text-base font-semibold leading-7 tracking-tight text-black">Sebastian Oribe</h3>
                  <p class="text-sm font-semibold leading-6 text-yellow-500">Software Developer</p>
                </div>
              </div>
              <div class="flex items-center gap-4">
                <img class="h-16 w-16 rounded-full" src="https://robohash.org/{mauricio}" alt="Maria Rojas">
                <div >
                  <h3 class="text-base font-semibold leading-7 tracking-tight text-black">Mauricio Quiroga</h3>
                  <p class="text-sm font-semibold leading-6 text-yellow-500">Software Developer</p>
                </div>
              </div>
          </div>
              
            
        </div>
      </div>
</body>
{{> footer}}
</html>