<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sobre Nosotros</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
  {{> navbar}}
      <div class="bg-white py-24 sm:py-32">
        <div class="mx-auto grid max-w-7xl gap-x-8 gap-y-20 px-6 lg:px-8 xl:grid-cols-3">
          <div class="max-w-2xl">
            <h2 class="text-5xl font-bold tracking-tight text-amber-500 sm:text-4xl">Sobre nosotros</h2>
            <p class="mt-6 text-lg leading-8 text-gray-900">Nuestro equipo está compuesto por grandes desarrolladores que buscan potenciar sus habilidades a traves de nuevos desafios y experiencias. </p>
          </div>
          <ul role="list" class="grid gap-x-8 gap-y-12 sm:grid-cols-2 sm:gap-y-16 xl:col-span-2">
            <li>
              <div class="flex items-center gap-x-6 mb-6">
                <img class="h-16 w-16 rounded-full" src="../public/mariDev.png" alt="Maria Rojas">
                <div >
                  <h3 class="text-base font-semibold leading-7 tracking-tight text-black">Mari Rojas</h3>
                  <p class="text-sm font-semibold leading-6 text-yellow-500">Front End Developer</p>
                </div>
              </div>
              <div class="flex items-center gap-x-6 ">
                <img class="h-16 w-16 rounded-full" src="../public/mariDev.png" alt="Maria Rojas">
                <div >
                  <h3 class="text-base font-semibold leading-7 tracking-tight text-black">Sofia Ruiz</h3>
                  <p class="text-sm font-semibold leading-6 text-yellow-500">Full Stack Developer</p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
</body>
{{> footer}}
</html>