<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Login Administrador</title>
</head>

<body class="min-h-screen bg-gray-100 py-6 flex flex-col justify-center sm:py-12">
  <div class="relative py-3 sm:max-w-xl sm:mx-auto">
    <div
      class="absolute inset-0 bg-gradient-to-r from-red-700 to-amber-900 shadow-lg transform -skew-y-6 sm:skew-y-0 sm:-rotate-6 sm:rounded-3xl">
    </div>
    <div class="relative px-4 py-10 bg-white shadow-lg sm:rounded-3xl sm:p-20">
      <div class="max-w-md mx-auto">

        <div class="flex justify-center mb-8">
          <img class="h-auto size-24" src="https://drive.google.com/thumbnail?id=1sOy54c0Ps_Fs4abHbqyJupLw0IB1c9mE"
            alt="Your Company" alt=" lavalle
            ofertas">
        </div>

        <h2 class="text-2xl font-bold text-center text-amber-600 mb-8">Registrar Administrador</h2>
        <div class="divide-y divide-gray-200">
          <form class="space-y-6" action="{{url}}/registrarUsuario" method="POST">
            <div class="relative">
              <input id="nombre" name="nombre" type="text" autocomplete="off" required
                class="peer placeholder-transparent h-10 w-full border-b-2 border-gray-300 text-gray-900 focus:outline-none focus:border-amber-500"
                placeholder="Nombre">
              <label for="user"
                class="absolute left-0 -top-3.5 text-gray-600 text-sm peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 peer-placeholder-shown:top-2 transition-all peer-focus:-top-3.5 peer-focus:text-gray-600 peer-focus:text-sm">Usuario</label>
            </div>
            <div class="relative">
              <input id="Email" name="email" type="email" autocomplete="off" required
                class="peer placeholder-transparent h-10 w-full border-b-2 border-gray-300 text-gray-900 focus:outline-none focus:border-amber-500"
                placeholder="email">
              <label for="email"
                class="absolute left-0 -top-3.5 text-gray-600 text-sm peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 peer-placeholder-shown:top-2 transition-all peer-focus:-top-3.5 peer-focus:text-gray-600 peer-focus:text-sm">Email</label>
            </div>
            <div class="relative">
              <input id="Telefono" name="telefono" type="number" autocomplete="off" required
                class="peer placeholder-transparent h-10 w-full border-b-2 border-gray-300 text-gray-900 focus:outline-none focus:border-amber-500"
                placeholder="Telefono">
              <label for="telefono"
                class="absolute left-0 -top-3.5 text-gray-600 text-sm peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 peer-placeholder-shown:top-2 transition-all peer-focus:-top-3.5 peer-focus:text-gray-600 peer-focus:text-sm">Telefono</label>
            </div>
            <div class="relative">
              <input id="password" name="pass" type="password" autocomplete="current-password" required
                class="peer placeholder-transparent h-10 w-full border-b-2 border-gray-300 text-gray-900 focus:outline-none focus:border-amber-500"
                placeholder="Contraseña">
              <label for="password"
                class="absolute left-0 -top-3.5 text-gray-600 text-sm peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 peer-placeholder-shown:top-2 transition-all peer-focus:-top-3.5 peer-focus:text-gray-600 peer-focus:text-sm">Contraseña</label>
            </div>
            <input type="hidden" name="rol" value="true">
            <div class="relative">
              <button type="submit"
                class="bg-zinc-800 w-full text-amber-500 rounded-md px-3 py-2 text-sm font-medium hover:bg-zinc-700">Registrar</button>
              <p
                class="mt-4 block text-center font-sans text-base font-normal leading-relaxed text-gray-700 antialiased">
                Ya estas registrado?
                <a class="font-semibold text-amber-600 transition-colors hover:text-blue-700" href="{{url}}">
                  Inicia Sesión
                </a>
              </p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>

</html>